*{
    padding: 0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid red;
}

html{
    /* scroll-behavior: smooth; */
}

body{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

:root{
    --purple:#9999cc;
    --orchid:#cc9999;
    --contact:#99cc99;
    --gallery:#99ccff;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

/* Mobile  */
@media (min-width:200px){

    header{
        display: flex;
        flex-direction: column;
    }

    header>article:first-child{
        background-color:var(--purple);
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 26px;
        padding: 15%;
        text-align: center;
    }

    header>article:last-child{
        background-color: gainsboro;
    }

    header h1{
        font-weight: 500;
    }

    header h3{
        font-weight: 500;
    }

    header ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vh;
        padding: 10%;
    }

    header li{
        width:15vh;
        height: 15vh;
        background-color: whitesmoke;
        display: flex;
    }

    header a{
        padding-left:20%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        justify-content: center;
        color:black;
        text-decoration: none;
    }
    /* header end */

    /* About section */
    .about{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .about h2{
        font-size:26px;
        font-weight: 400;
    }

    .about img{
        width: 100%;
        height: 50vh;
    }

    .about >article{
        background-color: gainsboro;
        padding: 15%;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    .about p{
        color: dimgray;
        font-size: 18px;
        line-height: 2;
    }

    .about a{
        padding: 5%;
        background-color: var(--orchid);
        text-decoration: none;
        color: white;
        width: 50%;
        text-align: center;
        font-weight: 400;
    }
    /* About section end */

    /* Block section */
    .block{
        background-color: var(--purple);
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        padding: 15%;
    }

    .block>aside{
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        color: whitesmoke;
        align-items: center;
    }

    .block i{
        font-size: 52px;
    }

    small{
        width: 60%;
    }
    /* Block end */

    /* Service section */
    .services{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        line-height: 2;
    }

    .services img{
        height: 70vh;
        width: 100%;
    }

    .services>article{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .services aside{
        background-color: gainsboro;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        padding: 15%;
    }

    blockquote{
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        padding: 15%;
        align-items: center;
    }

    blockquote a{
        background-color: gray;
        text-decoration: none;
        color: whitesmoke;
        padding: 5%;
        width:50%;
        text-align: center;
    }

    /* Service end */

    /* Gallery Section */
    .gallery{
        background-color:var(--gallery);
        padding-bottom:10%;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    .gallery>article{
        padding: 15%;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        align-items: center;
        text-align: center;
    }


    .gallery h2{
        text-transform: capitalize;
    }

    .gallery ul{
        display: flex;
        flex-wrap: wrap;
        column-gap: 1vh;
        justify-content: center;
    }

    .gallery li{
        list-style-type: none;
    }

    .gallery a{
        text-transform: capitalize;
        text-decoration: none;
        color: dimgray;
    }

    .gallery a::after{
        content: " .";
    }

    .gallery li:last-child >a ::after{
        content: "";
    }
    
    .gallery img{
        height: 40vh;
    }

    .gallery figure{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        padding: 3vh 5% 5% 5%;
        background-color: white;
    }
    }
    /* Gallery section end */

    /* contact section */
    .contact{
        display: flex;
        flex-direction: column;
        background-color: var(--contact);
        padding-bottom: 10%;
    }

    .contact>article{
        padding: 15%;
        text-align: center;
        color: whitesmoke;
        font-size: 20px;
    }

    .contact h2{
        font-weight: 400;
    }

    .contact>section{
        padding-top: 3vh;
        background-color: white;
        padding-bottom: 3vh;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .contact form{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        
    }

    .contatct>section>article{
        background-color: gainsboro;
        padding: 10%;
    }

    .contact>section>article:last-child{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    .contact article p{
        line-height: 2;
        text-align: justify;
        color: dimgray;
    }

    .contact aside a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: dimgray;
    }

    .contact >*:nth-child(3){
        row-gap: 3vh;
    }

    form > *{
        background-color: transparent;
        border: 0px none transparent;
        border-bottom: 1px solid dimgray;
    }

    textarea{
        resize: none;
        height: 20vh;
    }

    ::placeholder{
        color: dimgray;
        font-size: 16px;
    }

    iframe{
        height: 60vh;
        border:0px none transparent ;
    }

    [type="text"],
    [type="email"]{
        padding: 3% 0;
    }

    [type="submit"]{
        background-color: var(--contact);
        width:35%;
        padding:3% 5%;
        color: whitesmoke;
        font-weight: 600;
        border: 0px none;
        font-size: 16px;
        align-self: flex-end;
    }
    /* contact section end */

    /* footer section */
    footer {
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        padding: 5%;
    }

    footer >article{
        display: flex;
        justify-content: center;
        column-gap: 3vh;
    }

    footer i{
        background-color: gainsboro;
        font-size: 20px;
        padding: 5%;
        color: dimgray;
    }

    footer span{
        text-align: center;
    }
}

@media()